*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-guide-1: 1px solid red;
    --border-guide-2: 1px solid green;
    --border-guide-3: 1px solid blue;
}

img {
    width: max(300px, 30vw);
    border: var(--border-guide-1);
	/* aspect-ratio: 35/4; */
	
}

header{
    width: 100%;
	height: 60px;
    background-color: #eee;
	border: var(--border-guide-3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
}

#nav-bar {
    border: var(--border-guide-1);
	width: 40%;
	/* max-width: 300px; */
    /* min-width: 540px; */
	height: 50px;   
    padding-right: 30px;
    
}
nav > ul{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
}
/*Target unordered list elements within nav elements, and use 
Flexbox to evenly space the children.
*/
nav > ul > li {
	border: var(--border-guide-2);
	margin: 0 0.2rem;
	padding: 0.2rem;
	display: block;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
}
nav > ul > li:hover{
	background-color:#dfdfe2;
	color:#1b1b32;
	cursor: pointer;	
}
li > a {
	
	text-decoration: none;
}



#enroll {
    border: var(--border-guide-2);
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
  
    
}


input {
    align-items: center;
    align-self: center;
    align-content: center;
}