*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root {
    --border-guide-1: 1px solid red;
    --border-guide-2: 1px solid green;
    --border-guide-3: 1px solid blue;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    color: #000;
    /* max-width: 960px; */
    align-items: center;
}

#header {
    border: var(--border-guide-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 100;
    background: #ddd;
    position: sticky;
    top: 0; 
} 


img {
    width: 300px;
    /* width: max(300px, 30vw); 
    Image get bigger
    */
    border: var(--border-guide-1);		
}

.nav-list { border: var(--border-guide-1);
    padding-right: 30px; 
    gap: 3em;  
} 


#nav-bar > ul > li {
    border: var(--border-guide-2);
    list-style: none;
	margin: 0 0.2rem;
    display: inline-block; 
    /* flex-grow: 1;
    flex-shrink: 1; */
}

#nav-bar ul li a {
    text-decoration: none;
    color: #000;
    /* transition: all 0.5s ease 10s; */
}

#nav-bar ul li a:hover{
	color:#b4b4bc; 
	color:#1b1b32;
	cursor: pointer;	
}

#nav-bar ul li a:visited {
    color: #000;
}

@media (max-width: 600px) {
    
    #nav-bar > ul > li {
        border: 1px solid yellow;
        display: block;
        min-width: max-content;
        text-align: center;
       
        /* font-size: .7rem; */
        
    } 
    body, footer {
        min-width: 480px;
    }

    #enroll {
        padding: 0 30px;
    }

    #enroll h2 {
        font-size: 1.37rem;
    }
    #pricing .product {
        display: inline-block;
        
        border: 10px solid brown;   
    }    
}

/* #features {
    padding-top: 65px;   
} */
#enroll {
    border: var(--border-guide-2);
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    
    /* flex-direction: column;
     */   
}

#enroll h2 {
    border: var(--border-guide-1);
    padding: 5px;
}

section form .details {
    border: var(--border-guide-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    /* ;
    align-content: center;
    align-self: center;
    float: center;
     */ 
}

section form .details input[type='email'] {
    border: var(--border-guide-3);
    max-width: 275px;
}

section form .details input[type='submit'] {
    border: var(--border-guide-3);
    max-width: 150px;
}


.container {
    display: flex;
    border: var(--border-guide-3);
    flex-direction: column;
    /* reverse order flex div */
    gap: 3em;
    margin-top: 80px;
    /* background-color: red; */
    padding: 0 30px;
    
}



.container .icon {
    display: flex;
    background-color: red;
    border: var(--border-guide-1); 
    min-width: 70px;
    align-content: center;
    align-items: center; 
    justify-content: center;
    
}


.product h2 {
    background-color: red;
}

.premium-materials {
    border: var(--border-guide-2); 
    display: flex;
    gap: 1rem;
}


.fast-shipping {
    border: var(--border-guide-2); 
    display: flex; 
    gap: 1rem;
}

.quality-assurance {
    border: var(--border-guide-2);
    display: flex;
    gap: 1rem;
}


#how-it-works {
    
    display: flex;
    
    margin-top: 50px;
    /* background-color: red; */
    padding: 0 30px;
    
    border: 5px solid green;
    align-items: center;
    justify-content: center;

}

#how-it-works > iframe {
    display: flex;
    /* flex-direction: column;*/
    max-height: 300px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    
    border: 5px solid red;
    
  }

  
/* #how-it-works > iframe {
    max-width: 560px;
    width: 100%;
} */



/* #video  {
    align-items: center;
    justify-items: center;
} */


#pricing {
    
    margin-top: 80px;
    /* background-color: red; */
    padding: 0 30px;
}
.product {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: var(--border-guide-3);
    justify-content: space-between;
}

#tenor-trombone {
    border: var(--border-guide-2);
    text-align: center;
}

#bass-trombone {
    border: var(--border-guide-2);
    text-align: center;
}

#valve-trombone {
    border: var(--border-guide-2);
    text-align: center;
}