*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root {
    --bc-1: #eee;
    --bc-highlight: #a8a8a8;
}

body {
    background: var(--bc-1);
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    width: 100%;
    margin: auto;   
}

/*========================= header =========================*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 100;
    background: var(--bc-1);
    position: sticky;
    top: 0; 
} 

img {
    width: 300px;
    /* width: max(300px, 30vw); 
    Image get bigger
    */   	
}

.nav-list { 
    padding-right: 30px; 
    gap: 3em;  
} 

#nav-bar > ul > li {
    list-style: none;
	margin: 0 0.2rem;
    display: inline-block; 
}

#nav-bar ul li a {
    text-decoration: none;
    color: #000;
    /* transition: all 0.5s ease 10s; */
}

#nav-bar ul li a:hover{
	color:#b4b4bc; 
	color:#1b1b32;
	cursor: pointer;	
}

#nav-bar ul li a:visited {
    color: #000;
}

/*========================= media =========================*/


@media (max-width: 651px) {
    #nav-bar > ul > li {
        display: block;
        min-width: max-content;
        text-align: center;
    } 
    #enroll {
        padding: 0 30px;
    }
    #enroll h2 {
        font-size: 1.37rem;
    }
    #pricing .product {
        display: grid;
        justify-content: center;
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    #header {
        display: block;
        margin-bottom: 50px;
        background: var(--bc-1);
        height: fit-content;
        padding-bottom: 3px;
    }

    #header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 40px;
        padding-top: 20px;
    }

    #nav-bar > ul {
        padding: 0;
    }

    #nav-bar > ul > li {
        margin: 5px;
    }
    body footer {
        display: block;
        background: var(--bc-highlight);
        padding-left: 30px;
    }
    
    body footer .nav-bar .nav-list {
        display: block; 
    }
    body footer .nav-bar .nav-list li {
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    
    body footer p {
        display: flex;
        justify-content: center;
        margin: 8px 0;
        text-align: center;
    }
  
}
@media (max-width: 300px) {
    
    * {
        margin: 0;
        padding: 0;
    }

    body {
        min-width: 230px;
    }

    img {
        width: 100%;
        padding: 18px 0 18px 30px;
    }
    #nav-bar > ul > li {
        display: block;
        min-width: max-content;
        text-align: center;
        padding-right: 0;
        
    }
    .container .premium-materials {
        display: block;
    }
    .container .fast-shipping {
        display: block;
    }
    .container .quality-assurance {
        display: block;
    }
    .container .icon {
        margin-bottom: 10px;
    }
    .container h2 {
        text-align: center;
    }
    .container p {
        text-align: center;
    }  
    
 

}
  


/*========================= enroll =========================*/

#enroll {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

#enroll h2 {
    padding: 5px;
}

section form .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

section form .details input[type='email'] {
    border: 1px solid black;
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
    height: 30px;
    padding: 5px;
}

section form .details input[type='submit'] {
    border: var(--border-guide-3);
    max-width: 150px;
    font-weight: 1000;
}

section form .details input[type='submit']:hover {
    cursor: pointer;
}

/* ========================= features ========================= */
.container {
    display: flex; 
    flex-direction: column;
    gap: 3em;
    margin-top: 80px;
    padding: 0 30px;    
}

.container .icon {
    display: flex;
    color: #ff8c00;
    min-width: 70px;
    align-content: center;
    align-items: center; 
    justify-content: center; 
}

.premium-materials {
    display: flex;
    gap: 1rem;
}

.fast-shipping {
    display: flex; 
    gap: 1rem;
}

.quality-assurance {
    display: flex;
    gap: 1rem;
}

/* ========================= how it works ========================= */

#how-it-works {
    display: flex;
    margin-top: 50px;
    padding: 0 30px;
    height: 225px; 
    align-items: center;
    justify-content: center;
}

#how-it-works > iframe {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 400px; 
} 

/* ========================= Pricing ========================= */

#pricing {
    margin-top: 80px;
    padding: 0 30px;
    margin-bottom: 80px;
}

.product {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.product > * {
    flex-shrink: 1;
    flex-flow: 1;
    max-width: 200px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    min-width: 200px;
}

.product h1 {
    font-weight: 525;
    margin: 2px;
    padding: 2px;
}

.product h2 {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 530;
    background: var(--bc-highlight);
    height: 40px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.product p {
    font-size: .9rem;
    padding: 5px;
}

.btn {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
}

.product .btn:hover {
    cursor: pointer;
}


#tenor-trombone {
    text-align: center;
}

#bass-trombone {
    text-align: center;
}

#valve-trombone {
    text-align: center;
}

/*========================= footer =========================*/

footer {
    display: block;
    background: var(--bc-highlight);
    padding: 20px 30px 20px 0;
}

footer .nav-bar .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: right;
    padding-right: 0;
    margin-bottom: 5px;
}

footer p {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    color: rgba(68, 68, 68, 1);
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000;
    /* transition: all 0.5s ease 10s; */
}

.nav-bar ul li a:hover{
	color:#b4b4bc; 
	color:#1b1b32;
	cursor: pointer;	
}

.nav-bar ul li a:visited {
    color: #000;
}

